#{extends 'main.html' /}
#{set title:'GTFS Editor | Home' /}

#{set 'styles'}
  #{stylesheet 'main.css' /}
#{/set}

#{set 'scripts'}
  #{script 'models.js' /}
#{/set}


<div class="row-fluid cup_back">
  <div class="span9">
    <!--<h2>&{'get.start'}</h2>-->
      <h3>&{'get.welcome'}</h3>
      <p>&{'info.gtfs'}</p>

      <h4>&{'how.start'}</h4>
      <p>&{'how.basicinfo'} <a href="@{Application.route()}">&{'how.nroute'}</a> &{'above.start'}</p>

      <p>&{'info.view'} <a href="@{Application.search()}">&{'info.explore'}</a></p>

      <h4>&{'have.question'}</h4>
      <p>&{'get.help'}</p>

      <!---<p>&{'info.contacts'}</p>-->
  </div>

</div>
